@model DevekoperProject.Models.Project

@{
    ViewData["Title"] = "Delete";
}

<div class="card rounded">
    <div class="card-header bg-danger text-white">
        <h4 class="card-title"><span class="fa fa-exclamation"></span> Are you sure you want to delete this?</h4>
    </div>
    <div class="card-body">
        <h5 class="card-subtitle">Project details</h5>
        <hr />
        <div class="card-text">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PlaceName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PlaceName)
                </dd>
                
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeveloperCompany)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeveloperCompany.DeveloperCompanyName)
                </dd>
            </dl>

        </div>
        <h5 class="card-subtitle">Building details</h5>
        <hr />
        <div class="card-text">
            <table class="table table-bordered bg-light table-striped">
                <thead>
                    <tr>
                        <th>Building Name</th>
                        <th>Address </th>
                        <th>Total Floor</th>
                        <th>Flat Size</th>
                        <th>Flat Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model.Buildings)
                    {
                    <tr>
                        <td>@Html.DisplayFor(x => s.BuildingName)</td>
                        <td>@Html.DisplayFor(x => s.Address)</td>
                        <td>@Html.DisplayFor(x => s.TotalFloor)</td>
                        <td>@Html.DisplayFor(x => s.FlatSize)</td>
                        <td>@Html.DisplayFor(x => s.FlatPrice)</td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <form asp-action="Delete" class="ml-auto mr-1">
                    <input type="hidden" asp-for="ProjectId" />
                    <input type="submit" value="Confirm Delete" class="btn btn-danger" />

                </form>
            </div>
        </div>
    </div>
    <div class="card-footer bg-white">
        <div class="d-flex">
            <a asp-action="Index"><span class="fa fa-long-arrow-left"></span> Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model.ProjectId" class="ml-auto">Edit this item <span class="fa fa-long-arrow-right"></span></a>
        </div>
    </div>
</div>

@section styles {

    <environment include="Development">
        <link href="~/libs/fontawesome/css/font-awesome.css" rel="stylesheet" />

    </environment>
}

